Magic 271485
Revision Verdi_O-2018.09-SP2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 27 1850 357 305 266

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/lijunnan/Documents/0-code/vcs_prj/Programmable-Parser/wave.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 9807793.405024 29423380.215072
cursor 21900000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
userMarker 12500000 1st_pkt ID_GREEN5 long_dashed

; visible top row signal index
top 32
; marker line index
markerPos 43

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/lijunnan/Documents/0-code/vcs_prj/Programmable-Parser/wave.fsdb"
addSignal -h 15 /Testbench_wrapper/parser_top/i_clk
addSignal -h 15 -holdScope i_rst_n
addGroup "G2"
addSignal -expanded -h 15 /Testbench_wrapper/parser_top/layer_info_0
addSignal -h 15 -holdScope layer_info_0.type_offset[1:0]
addSignal -h 15 -holdScope layer_info_0.key_offset_v[7:0]
addSignal -h 15 -holdScope layer_info_0.key_offset[7:0]
addSignal -h 15 -holdScope layer_info_0.key_replaceOffset[31:0]
addSignal -h 15 -holdScope layer_info_0.key_replaceOffset_v[31:0]
addSignal -h 15 -holdScope layer_info_0.key_replaceOffset_carry[31:0]
addSignal -h 15 -holdScope layer_info_0.headShift[4:0]
addSignal -h 15 -holdScope layer_info_0.metaShift[4:0]
addSignal -h 15 -holdScope layer_info_0.total_metaShift[4:0]
addSignal -h 15 -holdScope layer_info_0.metaShift_carry
addSignal -h 15 -holdScope layer_info_0.head[520:0]
addSignal -h 15 -holdScope layer_info_0.meta[520:0]
addSignal -h 15 -holdScope layer_info_1
addSignal -expanded -h 15 -holdScope layer_info_2
addSignal -h 15 -holdScope layer_info_2.type_offset[1:0]
addSignal -h 15 -holdScope layer_info_2.key_offset_v[7:0]
addSignal -h 15 -holdScope layer_info_2.key_offset[7:0]
addSignal -h 15 -holdScope layer_info_2.key_replaceOffset[31:0]
addSignal -h 15 -holdScope layer_info_2.key_replaceOffset_v[31:0]
addSignal -h 15 -holdScope layer_info_2.key_replaceOffset_carry[31:0]
addSignal -h 15 -holdScope layer_info_2.headShift[4:0]
addSignal -h 15 -holdScope layer_info_2.metaShift[4:0]
addSignal -h 15 -holdScope layer_info_2.total_metaShift[4:0]
addSignal -h 15 -holdScope layer_info_2.metaShift_carry
addSignal -h 15 -holdScope layer_info_2.head[520:0]
addSignal -h 15 -holdScope layer_info_2.meta[520:0]
addSignal -expanded -h 15 -holdScope layer_info_3
addSignal -h 15 -holdScope layer_info_3.type_offset[1:0]
addSignal -h 15 -holdScope layer_info_3.key_offset_v[7:0]
addSignal -h 15 -holdScope layer_info_3.key_offset[7:0]
addSignal -h 15 -holdScope layer_info_3.key_replaceOffset[31:0]
addSignal -h 15 -holdScope layer_info_3.key_replaceOffset_v[31:0]
addSignal -h 15 -holdScope layer_info_3.key_replaceOffset_carry[31:0]
addSignal -h 15 -holdScope layer_info_3.headShift[4:0]
addSignal -h 15 -holdScope layer_info_3.metaShift[4:0]
addSignal -h 15 -holdScope layer_info_3.total_metaShift[4:0]
addSignal -h 15 -holdScope layer_info_3.metaShift_carry
addSignal -h 15 -holdScope layer_info_3.head[520:0]
addSignal -h 15 -holdScope layer_info_3.meta[520:0]
addGroup "G3"
addGroup "G4"
addGroup "G5"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

