Magic 271485
Revision Verdi_O-2018.09-SP2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 27 1978 456 305 456

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/lijunnan/Documents/0-code/vcs_prj/Programmable-Parser/wave.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 13670193.115029 26560201.511335
cursor 20300000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 11
; marker line index
markerPos 27

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/lijunnan/Documents/0-code/vcs_prj/Programmable-Parser/wave.fsdb"
addSignal -expanded -h 15 /Testbench_wrapper/parser_top/layer_info_0
addSignal -h 15 -holdScope layer_info_0.type_offset[1:0]
addSignal -h 15 -holdScope layer_info_0.key_offset_v[7:0]
addSignal -h 15 -holdScope layer_info_0.key_offset[7:0]
addSignal -h 15 -holdScope layer_info_0.headShift[4:0]
addSignal -h 15 -holdScope layer_info_0.metaShift[4:0]
addSignal -h 15 -holdScope layer_info_0.head[520:0]
addSignal -h 15 -holdScope layer_info_0.meta[520:0]
addGroup "G2"
addSignal -expanded -h 15 /Testbench_wrapper/parser_top/parser_layer1/lookup_type/r_type_rule[7:0]
addSignal -h 15 -holdScope r_type_rule[7]
addSignal -h 15 -holdScope r_type_rule[6]
addSignal -h 15 -holdScope r_type_rule[5]
addSignal -h 15 -holdScope r_type_rule[4]
addSignal -h 15 -holdScope r_type_rule[3]
addSignal -h 15 -holdScope r_type_rule[2]
addSignal -h 15 -holdScope r_type_rule[1]
addSignal -expanded -h 15 -holdScope r_type_rule[0]
addSignal -h 15 -holdScope r_type_rule[0].typeRule_valid
addSignal -h 15 -holdScope r_type_rule[0].typeRule_typeData[1:0]
addSignal -h 15 -holdScope r_type_rule[0].typeRule_typeMask[1:0]
addSignal -h 15 -holdScope r_type_rule[0].typeRule_typeOffset[1:0]
addSignal -h 15 -holdScope r_type_rule[0].typeRule_keyOffset_v[7:0]
addSignal -h 15 -holdScope r_type_rule[0].typeRule_keyOffset[7:0]
addSignal -h 15 -holdScope r_type_rule[0].typeRule_keyReplaceOffset[7:0]
addSignal -h 15 -holdScope r_type_rule[0].typeRule_headShift[4:0]
addSignal -h 15 -holdScope r_type_rule[0].typeRule_metaShift[4:0]
addSignal -expanded -h 15 /Testbench_wrapper/parser_top/layer_info_1
addSignal -h 15 -holdScope layer_info_1.type_offset[1:0]
addSignal -h 15 -holdScope layer_info_1.key_offset_v[7:0]
addSignal -h 15 -holdScope layer_info_1.key_offset[7:0]
addSignal -h 15 -holdScope layer_info_1.headShift[4:0]
addSignal -h 15 -holdScope layer_info_1.metaShift[4:0]
addSignal -h 15 -holdScope layer_info_1.head[520:0]
addSignal -h 15 -holdScope layer_info_1.meta[520:0]
addGroup "G3"
addSignal -h 15 /Testbench_wrapper/parser_top/parser_layer2/lookup_type/r_type_rule[7:0]
addSignal -expanded -h 15 /Testbench_wrapper/parser_top/layer_info_2
addSignal -h 15 -holdScope layer_info_2.type_offset[1:0]
addSignal -h 15 -holdScope layer_info_2.key_offset_v[7:0]
addSignal -h 15 -holdScope layer_info_2.key_offset[7:0]
addSignal -h 15 -holdScope layer_info_2.headShift[4:0]
addSignal -h 15 -holdScope layer_info_2.metaShift[4:0]
addSignal -h 15 -holdScope layer_info_2.head[520:0]
addSignal -h 15 -holdScope layer_info_2.meta[520:0]
addGroup "G4"
addSignal -h 15 /Testbench_wrapper/parser_top/parser_layer3/lookup_type/r_type_rule[7:0]
addSignal -expanded -h 15 /Testbench_wrapper/parser_top/layer_info_3
addSignal -h 15 -holdScope layer_info_3.type_offset[1:0]
addSignal -h 15 -holdScope layer_info_3.key_offset_v[7:0]
addSignal -h 15 -holdScope layer_info_3.key_offset[7:0]
addSignal -h 15 -holdScope layer_info_3.headShift[4:0]
addSignal -h 15 -holdScope layer_info_3.metaShift[4:0]
addSignal -h 15 -holdScope layer_info_3.head[520:0]
addSignal -h 15 -holdScope layer_info_3.meta[520:0]
addGroup "G5"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

