Magic 271485
Revision Verdi_O-2018.09-SP2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 27 1850 405 305 266

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/lijunnan/Documents/0-code/vcs_prj/Programmable-Parser/wave.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 7990526.735834 11633942.537909
cursor 9500000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
userMarker 8900000 1st_pkt ID_GREEN5 long_dashed

; visible top row signal index
top 4
; marker line index
markerPos 16

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/lijunnan/Documents/0-code/vcs_prj/Programmable-Parser/wave.fsdb"
addSignal -h 15 /Testbench_wrapper/HyPipe_Top/i_clk
addSignal -h 15 /Testbench_wrapper/HyPipe_Top/parser_top/w_head_layer1[520:0]
addSignal -h 15 -holdScope w_head_layer2[520:0]
addSignal -h 15 -holdScope w_head_layer3[520:0]
addSignal -h 15 -holdScope w_meta_layer1[520:0]
addSignal -h 15 -holdScope w_meta_layer2[520:0]
addSignal -h 15 -holdScope w_meta_layer3[520:0]
addSignal -h 15 /Testbench_wrapper/HyPipe_Top/gen_PHV_and_conf_parer/o_phv_valid
addSignal -h 15 -holdScope o_phv[520:0]
addGroup "G2"
addSignal -h 15 /Testbench_wrapper/HyPipe_Top/parser_top/parser_layer1/shift_head/i_meta[520:0]
addGroup "G3"
addSignal -h 15 /Testbench_wrapper/HyPipe_Top/parser_top/parser_layer2/shift_head/i_headShift[4:0]
addSignal -h 15 /Testbench_wrapper/HyPipe_Top/parser_top/parser_layer2/lookup_type/i_type[1:0]
addSignal -h 15 /Testbench_wrapper/HyPipe_Top/parser_top/parser_layer2/shift_head/i_meta[520:0]
addSignal -h 15 /Testbench_wrapper/HyPipe_Top/parser_top/parser_layer2/i_meta[520:0]
addGroup "G4"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

